<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="stylehome.css">
</head>
<body>

<div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="adaugatest">Adaugă Test</a>
    <a href="corecteazatest">Corectează Test</a>
</div>

<div class="container">
    <div class="description">
        <h1>Bine ați venit!</h1>
        <p>Aplicația noastră de corectare automată a testelor grilă este soluția perfectă pentru profesori și cadre didactice în procesul de evaluare a testelor de examen. Utilizând tehnologii avansate de procesare a datelor și algoritmi de inteligență artificială, aplicația noastră permite corectarea rapidă și precisă a testelor, eliminând erorile umane și economisind timp prețios.</p>
        <p>Navigați folosind meniul de mai sus pentru a accesa funcțiile aplicației: adăugarea unui nou test sau corectarea unuia existent.</p>
    </div>
</div>

</body>
</html>
