<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="styleloginregister.css">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form id="registerForm" action="/api/users/register" method="post" enctype="application/x-www-form-urlencoded">
    <h3>Register Here</h3>
    <label for="firstname">First Name</label>
    <input type="text" placeholder="First Name" id="firstname" name="firstname" title="First name should contain only letters" required>
    <span id="firstname-error" style="display:none; color:red;">First name should contain only letters</span>
    <label for="lastname">Last Name</label>
    <input type="text" placeholder="Last Name" id="lastname" name="lastname" title="Last name should contain only letters" required>
    <span id="lastname-error" style="display:none; color:red;">Last name should contain only letters</span>
    <label for="username">Username</label>
    <input type="text" placeholder="Username" id="username" name="username" required>
    <label for="email">Email</label>
    <input type="email" placeholder="Email" id="email" name="email" required>
    <span id="email-error" style="display:none; color:red;">Invalid email format</span>
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password" required>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="confirm-password" name="confirmPassword" title="Password must contain at least 6 characters" required>
    <span id="password-match-error" style="display:none; color:red;">Passwords do not match</span>
    <button type="submit">Register</button>
    <a href="login" class="signup-btn">Login!</a>
</form>

<script src="validations.js"></script>

</body>
</html>
